.playlist-header {
    display: flex;
    justify-content: center;
    width: 20rem;
    margin: auto;
}

.playlist-header>h1 {
    font-size: 1.5rem;
}

.playlist-header>button {
    width: 4rem;
    height: 1.5rem;
    margin: auto .5rem;
}

.playlist-options-button {
    background: #1e1e1e;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    height: 1.5rem;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: .2rem;
    margin-top: auto;
}

.playlist-container {
    border: solid white;
    width: 12rem;
    height: 15rem;
    margin: 1rem auto;
    position: relative;
    
}
.playlist-dropdown {
    position: absolute;
    right: -75%;
    top: 20%;
    background: white;
    height: 5rem;
    border-radius: 6px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
    z-index: 500;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: .5rem;
    text-align: left;
    white-space: nowrap;
    color: rgb(95, 91, 91);
    list-style: none;
    border: solid black;
    text-align:center;
}
.playlist-dropdown>li{
    border: solid black;
}



.playlist-image-container {
    width: 12rem;
    height: 12rem;
}

.playlist-image-container>img {
    width: 12rem;
    height: 12rem;
    box-sizing: border-box;
}

.playlist-name {
    margin-top: .1rem;
    margin-bottom: .1rem;
    font-size: 1rem;
    margin-left: .1rem;
}

#root {

    height: 200rem;
    width: 100%;
    background-color: #1e1e1e;
    color: white
}

.playlist-container-div {
    border: solid white;
    width: 20rem;
    margin: auto;
    height: 100%;
}
.playlist-container>div{
    height: 100%;
    width: 100%;
}