.playlist-header {
    display: flex;
    justify-content: center;
    width: 20rem;
    margin: auto;
}

.playlist-header>h1 {
    font-size: 1.5rem;
}

.playlist-header>button {
    width: 4rem;
    height: 1.5rem;
    margin: auto .5rem;
}


.playlist-options-button {
    background: #1e1e1e;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    height: 1.5rem;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: .2rem;
    margin-top: auto;
}

.playlist-container {
    border: solid white;
    width: 12rem;
    height: 15rem;
    margin: 1rem auto;
    position: relative;

}

.playlist-dropdown {
    position: absolute;
    right: -75%;
    top: 20%;
    background: white;
    height: 5rem;
    border-radius: 6px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
    z-index: 500;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: .5rem;
    text-align: left;
    white-space: nowrap;
    color: rgb(95, 91, 91);
    list-style: none;
    border: solid black;
    text-align: center;
}

.playlist-dropdown>li {
    border: solid black;
}



.playlist-image-container {
    width: 12rem;
    height: 12rem;
}

.playlist-image-container>img {
    width: 12rem;
    height: 12rem;
    box-sizing: border-box;
}

.playlist-name {
    margin-top: .1rem;
    margin-bottom: .1rem;
    font-size: 1rem;
    margin-left: .1rem;
    text-wrap: nowrap;
    overflow: hidden;
}

html, body,#root {

    height: fit-content;
    width: 100%;
    background-color: #1e1e1e;
    color: white
}

.playlist-container-div {
    border: solid white;
    width: 20rem;
    margin: auto;
    height: 100%;
}

.playlist-container>div {

    width: 100%;
}

.playlist-button {
    width: 4rem;
    height: 1.5rem;
    margin: auto .5rem;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.playlist-button>li {
    list-style: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
}
.YT-sign-in-form{
    text-align: center;
    margin: 5rem 0;
}
.YT-sign-in{
    width: 100%;
    height: 3rem;
    background: #0E1619;
    color: white;
    border: 5px solid white;
    border-radius: 1rem;
    display: flex;
    margin: auto;
    line-height: 2.5rem;
    text-wrap: nowrap;
}
    .YT-sign-in>img{  
        height: 1.25rem;
        margin: auto 0.5rem auto 0.5rem;
        display: block;
    }
    .YT-sign-in>.hidden{
        display:none;
    }
.home-page{
    display: flex;
    justify-content: right;
}
.apps-linked-container{

    height: 100%;
    border: white solid;
    margin-top: 4.25rem
}
.playlist-section{
    position: absolute;
    right:37%
}
