
.playlist-delete-modal-div{
    text-align: center;
    padding: 3rem 2rem;
    background: #1e1e1e;
    border: solid white
}


.playlist-delete-div>h1{
    font-size: 1.5rem;
    margin-top: .5rem;
}
.playlist-delete-div>h2{
    font-size: .9rem;
    margin-top: .5rem;
}
.playlist-delete-modal-div>button{
    width: 5rem;
    height: 2rem;
    margin: 1rem;
}
.delete-button:hover{
    background: maroon;
    color: white
}