.add-song-header{
    color: black;
    font-size: 1rem;
    text-wrap: wrap;
}
.add-song-form{
    color: black;
    display: flex;
    flex-direction: column;
    height: 20rem;
    width: 20rem;
    text-align: center;
}
.add-song-submit{
    margin-top: 10rem;
    width: 100%;
    box-sizing: border-box;
    
}