.login-form{
    display: flex;
    flex-direction: column;
}
.login-modal-div{
    text-align: center;
    padding: 4rem 2rem;
    background-color: #1e1e1e;
    color: white;
    border: solid 2px white
}
.profile-pic{
    width: 3rem;
    height: 3rem;
    
}
.login-form>input{
    width: 100%;
    box-sizing: border-box;
    margin: 1rem 0;
    color: black;
    font-weight: 600
}
.login-modal-div>h1{
    font-size: 1.5rem;
    margin-top: .5rem;
}
.login-modal-div>h2{
    font-size: .9rem;
    margin-top: .5rem;
}
.login-submit{
    
    background-color: #1e1e1e;
    color: white;
    border: solid 2px white;
    padding: 1rem;
    margin-bottom: 1rem;

}